.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pfp {
  font-size: 70px;
  margin: 20px;
}

.emote {
  padding: 10pt;
  margin: 10pt;
  width: 180px;
  border: 1px solid lightgray;
  border-radius: 6pt;
  position: relative;
  display: flex;
  flex-direction: column;
}

.deleteButton {
  position: absolute;
  top: 0;
  right: 0;
}

button {
  margin: 10pt;
  width: 30pt;
  height: 30pt;
  border-radius: 4pt;
  background-color: whitesmoke;
}

#composeBox {
  width: 190px;
}
